@import "tailwindcss";


@theme {
  --color-primary-default: #5A84EF;
  --color-primary-darker: #224C9F;
  --color-primary-lighter: #A2B3F6;
  --color-primary-subtle: #F1F3FD;

  --color-border-subtle: #DFE4FC;
  --color-border-lighter: #A2B3F6;
  --color-border-default: #5A84EF;
  --color-border-darker: #224C9F;

  --color-primary-label: #3B4B6D;
}


/* Border-radius */
.rounded-sm {
  border-radius: 4px;
}
.rounded-md {
  border-radius: 6px
}
.rounded-lg {
  border-radius: 8px;
}
.rounded-xl {
  border-radius: 12px;
}
.rounded-full {
  border-radius: 16px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #5A84EF;
    --darker: #224C9F;
  }
} */
